body {
    background-color: whitesmoke;
    color: darkblue;
    font-family: sans-serif;
}

ul {
    list-style: none;
}



.sheet {
    /* background-image:url("https://wallpapercave.com/wp/wp8571277.jpg"); */
    display: flex;
    flex-wrap: wrap;
    background-size: 700px;
    /* text-align: right; */
}

.character-info {
    font-size: large;
    border: 3px, 3px, 3px, 3px;
    border-style:ridge;
}

/* #portrait{
    align-self: left;
}
#basic-info{
    align-self: right;
} */



/* div.center {
    margin: auto;
    width: auto;
    border: 2px solid darkblue;
    padding: 1px;
  } */

/* TODO: Include animations. I don't want the character to just appear instantly, but to make the user feel as if they are rolling it physically */